<!-- 监控筛选条件 -->
<form nz-form #form="ngForm" [formGroup]="validateForm" class="search-form">
    <div nz-row style="margin-left:10px; margin-right:10px;">
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                <label [attr.for]="'upper'">所属机构</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
                <org-tree formControlName="upper" [zjId]="'upper'"></org-tree>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                <label [attr.for]="'devVendor'">设备品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
                <nz-select formControlName="devVendor" nzAllowClear [nzPlaceHolder]="'--请选择设备品牌--'"
                           (ngModelChange)="qryDevType($event)">
                    <nz-option *ngFor="let o of devVendorList" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                <label [attr.for]="'devType'">设备型号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
                <nz-select formControlName="devType" nzAllowClear [nzPlaceHolder]="'--请选择设备型号--'">
                    <nz-option *ngFor="let o of devTypeList" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                <label [attr.for]="'devNo'">设备号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
                <nz-input formControlName="devNo" [nzId]="'devNo'"></nz-input>
            </div>
        </div>
    </div>
    <div nz-row style="margin-left:10px; margin-right:10px; margin-top: 10px;">
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                <label [attr.for]="'transType'">交易类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
                <nz-select formControlName="transType" nzAllowClear [nzPlaceHolder]="'--请选择交易类型--'"
                           (ngModelChange)="showTransCash($event)">
                    <nz-option *ngFor="let o of transTypeList" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto; margin-left: -20px;">
                <label [attr.for]="'minCash'">交易金额/元</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="7">
                <nz-input [nzDisabled]="minCashSwitch" formControlName="minCash" [nzId]="'minCash'"></nz-input>
            </div>
            <div nz-col [nzSpan]="2">
                &nbsp;&nbsp;~
            </div>
            <div nz-form-control nz-col [nzSpan]="7">
                <nz-input [nzDisabled]="maxCashSwitch" formControlName="maxCash" [nzId]="'maxCash'"></nz-input>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                <label [attr.for]="'transStatus'">交易状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
                <nz-select formControlName="transStatus" nzAllowClear [nzPlaceHolder]="'--请选择交易状态--'">
                    <nz-option *ngFor="let o of transStatusList" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
                </nz-select>
            </div>
        </div>
    <div>
        <button nz-button nzType="primary" (click)="queryDev(true)">立即查询</button>
    </div>
    </div>
</form>
<div id="transInfo" style="padding: 20px;">
    <nz-table #nzTable
              [nzShowSizeChanger]="true"
              [nzSize]="'small'"
              [nzLoading]="loading"
              [nzAjaxData]="transInfoList"
              [(nzPageIndex)]="page.curPage"
              [(nzPageSize)]="page.pageSize"
              [nzTotal]="page.totalRow"
              [nzPageSizeSelectorValues]="[20,50,100]"
              [nzShowQuickJumper]="true"
              nzShowTotal
              (nzPageSizeChange)="queryDev(true)"
              (nzPageIndexChange)="queryDev()">
        <thead nz-thead>
        <tr>
            <th nz-th><span>设备号</span></th>
            <th nz-th><span>所属机构</span></th>
            <th nz-th><span>交易流水号</span></th>
            <th nz-th><span>交易时间</span></th>
            <th nz-th><span>卡号</span></th>
            <th nz-th><span>卡种</span></th>
            <th nz-th><span>交易金额</span></th>
            <th nz-th><span>交易类型</span></th>
            <th nz-th><span>主机流水号</span></th>
            <th nz-th><span>响应码（中文）</span></th>
            <th nz-th><span>转入目标账号（类型）</span></th>
            <th nz-th><span>交易凭证</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of nzTable.data;let i = index;">
            <td nz-td>{{item.devno}}</td>
            <td nz-td>{{item.orgname}}</td>
            <td nz-td>{{item.transserialnum}}</td>
            <td nz-td>{{item.transtime| dateStringFormat: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td nz-td>{{item.cardno}}</td>
            <td nz-td>{{item.cardtype}}</td>
<!--            <td nz-td>{{item.cardtype == '01' ? '本行借记卡' : item.cardtype == '02' ? '本行信用卡' : item.cardtype == '03' ? '他行卡' : '未识别'}}</td>-->
            <td nz-td>{{item.transamount}}</td>
            <td nz-td>{{item.transtypename}}</td>
            <td nz-td>{{item.hostserialno}}</td>
            <td nz-td>{{item.retcode}}({{item.brieflyexplain}})</td>
            <td nz-td>{{item.payintoaccount}}
               <!-- ({{item.payintoaccounttype == '01' ? '本行借记卡' : item.payintoaccounttype == '02' ? '本行信用卡' :
                    item.payintoaccounttype == '03' ? '他行卡' : '未识别'}})-->
                ({{item.payintoaccounttype}})
            </td>
            <td nz-td>
                <a *ngIf="item.fileflag == '1'" href="{{item.pdfUrl}}">{{item.serverpath}}</a>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
