<form nz-form #form="ngForm" [formGroup]="validateForm" class="search-form">
    <div nz-row style="margin-left:20px; margin-right:20px;">

        <div nz-col [nzSpan]="6">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'org'">所属机构</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <org-tree formControlName="org" [zjId]="'org'"></org-tree>
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="6">
            <div nz-row>

                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'devNo'">设备号</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <nz-input [nzSize]="'large'" formControlName="devNo" [nzId]="'devNo'"></nz-input>
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="6">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'day'">时间查询</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <nz-select [nzSize]="'large'" formControlName="day" name="day" nzAllowClear
                               [nzPlaceHolder]="'--请选择时间--'">
                        <nz-option *ngFor="let c of dayList" [hidden]="!c" [nzLabel]="c?.name"
                                   [nzValue]="c?.value"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="6">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'order'">排序方式</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <nz-select [nzSize]="'large'" formControlName="order" name="order" nzAllowClear
                               [nzPlaceHolder]="'--请选择排序方式--'">
                        <nz-option *ngFor="let c of orderList" [hidden]="!c" [nzLabel]="c?.name"
                                   [nzValue]="c?.value"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>

        <div nz-col [nzSpan]="24" style="text-align:center; margin-top: 10px;">
            <button nz-button [nzType]="'primary'" (click)="search()" [nzSize]="'large'" align="center"><i
                    class="anticon anticon-search"></i><span>查询</span></button>
            <button nz-button (click)="reset()" [nzSize]="'large'"><i class="anticon anticon-sync"></i><span>重置</span>
            </button>
        </div>
    </div>
</form>

<div class="search-result-list" style="padding: 20px;">

    <nz-table #nzTable
              [nzShowSizeChanger]="true"
              [nzSize]="'small'"
              [nzLoading]="loading"
              [nzAjaxData]="dataSet"
              [(nzPageIndex)]="page.curPage"
              [(nzPageSize)]="page.pageSize"
              [nzTotal]="page.totalRow"
              [nzShowQuickJumper] = "true"
              nzShowTotal
              (nzPageSizeChange)="refreshData(true)"
              (nzPageIndexChange)="refreshData()">

        <div  *ngFor="let item of dataSet ;let i = index;" style="float: left; width: 120px; height: 140px; text-align: center;">
            <img src="assets/img/ATM/{{item.status}}" (click)="showDetail(item.devNo)" style="">
            <p>{{item.devNo}}</p>
            <p>{{string2DateString(item.pjcEjDate)}}</p>
            <p>{{item.statusName}}</p>
        </div>
    </nz-table>
</div>


