<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row >
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'no'" nz-form-item-required>用户编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('no')">
            <nz-input [nzSize]="'large'" formControlName="no" [nzId]="'no'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'name'" nz-form-item-required>用户姓名</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('name')">
            <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'"
                      (ngModelChange)="updateConfirmValidator()"></nz-input>
            <div nz-form-explain *ngIf="validateForm.controls['name'].dirty && validateForm.controls['name'].errors">
                <span>用户姓名无效,请输入2-10位字符</span>
            </div>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'org'" nz-form-item-required>所属机构</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('org')">
            <org-tree formControlName="org" [zjId]="'org'" (ngModelChange)="selectRole($event)"></org-tree>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'roleNo'" nz-form-item-required>角色</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('roleNo')">
            <nz-select formControlName="roleNo" [nzSize]="'large'" nzMode="multiple"
                       [nzPlaceHolder]="'--请选择角色--'">
                <nz-option *ngFor="let r of roles" [nzLabel]="r.name" [nzValue]="r.no"></nz-option>
            </nz-select>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'devCatalog'" nz-form-item-required>设备权限</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('devCatalog')">
            <nz-select formControlName="devCatalog" [nzSize]="'large'"  nzMode="multiple"
                       [nzPlaceHolder]="'--请选择用户设备权限--'">
                <nz-option *ngFor="let r of devCataloglist" [nzLabel]="r.name" [nzValue]="r.no"></nz-option>
            </nz-select>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSpan]="8">
            <label>固定电话</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('phone')">
            <nz-input [nzSize]="'large'" formControlName="phone" [nzId]="'phone'"></nz-input>
            <div nz-form-explain *ngIf="validateForm.controls['phone'].dirty && validateForm.controls['phone'].errors">
                {{ validateForm.controls['phone'].errors['explain'] }}
            </div>
        </div>
        </div>

    </div>
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'mobile'">手机号码</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('mobile')">
            <nz-input [nzSize]="'large'" formControlName="mobile" [nzId]="'mobile'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['mobile'].dirty && validateForm.controls['mobile'].errors">
                {{ validateForm.controls['mobile'].errors['explain'] }}
            </div>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'email'">电子邮箱</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('email')">
            <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'"></nz-input>
            <div nz-form-explain *ngIf="validateForm.controls['email'].dirty && validateForm.controls['email'].errors">
                {{ validateForm.controls['email'].errors['explain'] }}
            </div>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row *ngIf="checkAudit">
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'commitOrg'" nz-form-item-required>提交机构</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="getFormControl('commitOrg')">
            <org-tree formControlName="commitOrg" [zjId]="'commitOrg'" [onlyParentNode]="checkAudit" (ngModelChange)="selectCommitRole($event)"></org-tree>
        </div>
    </div>

        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'commitRole'" nz-form-item-required>提交角色</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('commitRole')">
            <nz-select formControlName="commitRole" [nzSize]="'large'" [nzPlaceHolder]="'--请选择角色--'"
                       (ngModelChange)="getUserByRole($event)">
                <nz-option *ngFor="let r of commitRoles" [nzLabel]="r.name" [nzValue]="r.no"></nz-option>
            </nz-select>
        </div>
        </div>
    </div>

    <div nz-form-item nz-row *ngIf="checkAudit">
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'commitUser'">提交人员</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="getFormControl('commitUser')">
            <nz-select formControlName="commitUser" [nzSize]="'large'" [nzPlaceHolder]="'--请选择人员--'">
                <nz-option *ngFor="let r of commitUsers" [nzLabel]="r.name" [nzValue]="r.no"></nz-option>
            </nz-select>
        </div>
    </div>

        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'commitNote'" >申请备注</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('commitNote')">
            <nz-input [nzSize]="'large'" formControlName="commitNote" [nzId]="'commitNote'" nzType="textarea" ></nz-input>

        </div>
        </div>
    </div>
    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="24" >
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading" >提交</button>
            <button type="button" nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
