<form nz-form #form="ngForm">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'no'" nz-form-item-required>机构编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="form.controls['no']">
            <nz-input [nzSize]="'large'" [(ngModel)]="formModel['no']" [nzId]="'no'" name="no"
                      [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'name'" nz-form-item-required>机构名称</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="form.controls['name']">
            <nz-input [nzSize]="'large'" [(ngModel)]="formModel['name']" [nzId]="'name'" name="name"
                      [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'upper'">上级机构</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="form.controls['upper']">
            <nz-input [nzSize]="'large'" [(ngModel)]="formModel['upper']" [nzId]="'upper'" name="upper"
                      [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'orgType'">机构类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" [nzValidateStatus]="form.controls['orgType']">
            <nz-input [nzSize]="'large'" [(ngModel)]="formModel['orgType']" [nzId]="'orgType'" name="orgType"
                      [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
            <label [attr.for]="'address'">机构地址</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" [nzValidateStatus]="form.controls['address']">
            <nz-input [nzSize]="'large'" [(ngModel)]="formModel['address']" [nzId]="'address'" name="address"
                      [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">返回</button>
        </div>
    </div>
</form>
