<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label [attr.for]="'appId'">应用标识</label>
        </div>
        <div nz-form-control nz-col [nzSm]="8" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="appId" [nzId]="'appId'" [nzDisabled]="true"></nz-input>
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required [attr.for]="'appCatalog'">应用类型</label>
        </div>
        <div nz-form-control nz-col [nzSm]="8" [nzXs]="24" [nzValidateStatus]="getFormControl('appCatalog')">
            <nz-select [nzSize]="'large'" formControlName="appCatalog" [nzPlaceHolder]="'--请选择应用类型--'">
                <nz-option *ngFor="let o of appCatalogs" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
            </nz-select>
            <div nz-form-explain
                 *ngIf="validateForm.controls['appCatalog'].dirty && validateForm.controls['appCatalog'].hasError('required')">
                应用类型不能为空
            </div>
        </div>
    </div>
    <!--
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label [attr.for]="'limitOrg'">适用机构</label>
        </div>
        <div nz-form-control nz-col [nzSm]="20">
            <div *ngIf="limitOrgs.length > 0">
                <nz-tag *ngFor="let tmpOrg of limitOrgs; let i = index;" nzClosable (nzClose)="onClose(i)">
                    {{ tmpOrg.name }}
                </nz-tag>
            </div>
            <org-tree formControlName="limitOrg" [zjId]="'limitOrg'" (ngModelChange)="selectOrg($event)"></org-tree>
        </div>
    </div>
    -->
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label [attr.for]="'devCatalog'">设备类型</label>
        </div>
        <div nz-form-control nz-col [nzSm]="8" [nzXs]="24">
            <nz-select
                [nzMode]="'multiple'"
                [nzPlaceHolder]="'请选择适用设备类型'"
                [nzNotFoundContent]="'无设备类型可选'"
                formControlName="devCatalog">
                <nz-option
                    *ngFor="let option of devCatalogList"
                    [nzLabel]="option.name"
                    [nzValue]="option.no">
                </nz-option>
            </nz-select>
        </div>
    </div>
    <!--
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label [attr.for]="'versionPath'">选择logo</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <input #fileUpload type="file" ng2FileSelect [uploader]="uploader" (change)="checkFile($event)"/><br>
        </div>
    </div>
    -->
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label [attr.for]="'description'">应用描述</label>
        </div>
        <div nz-form-control nz-col [nzSm]="18" [nzXs]="24">
            <nz-input formControlName="description" [nzId]="'description'" nzType="textarea"
                      [nzAutosize]="{minRows: 3, maxRows:5}"></nz-input>
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-control align="center">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading">提交</button>
            <button type="button" nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading"
                    (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
<!-- Logo上传组件 -->
<!--<div style="position: absolute; left: 320px; top: 80px;">-->
    <!--<nz-upload class="avatar-uploader"-->
               <!--nzAction="https://jsonplaceholder.typicode.com/posts/"-->
               <!--nzName="avatar"-->
               <!--[nzShowUploadList]="false"-->
               <!--[nzBeforeUpload]="beforeUpload"-->
               <!--(nzChange)="handleChange($event)">-->
        <!--<i *ngIf="!avatarUrl" class="anticon anticon-plus avatar-uploader-trigger"></i>-->
        <!--<img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">-->
    <!--</nz-upload>-->
    <!--<label style="margin-left: 40px; margin-top: 5px;">选择logo</label>-->
<!--</div>-->
