<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'publisher'" nz-form-item-required>发布人</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('publisher')">
            <nz-input [nzSize]="'large'" formControlName="publisher" [nzId]="'publisher'" (ngModelChange)="updateConfirmValidator()"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['publisher'].dirty && validateForm.controls['publisher'].errors">
                <span>发布人信息不能为空，输入信息长度要在2字符到30字符之间</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'title'" nz-form-item-required>标题</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('title')">
            <nz-input [nzSize]="'large'" formControlName="title" [nzId]="'title'" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="''"></nz-input>

            <div nz-form-explain
                 *ngIf="validateForm.controls['title'].dirty && validateForm.controls['title'].errors">
                <span>公告标题不能为空，请输入信息，长度不能超过300字符</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'releaseDate'" nz-form-item-required>发布日期</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('releaseDate')">
            <nz-datepicker [nzPlaceHolder]="'发布日期'" formControlName="releaseDate" [nzDisabledDate]="_disabledStartDate">
            </nz-datepicker>
            <div nz-form-explain
                 *ngIf="validateForm.controls['releaseDate'].dirty && validateForm.controls['releaseDate'].errors">
                <span>公告发布日期不能为空</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'expireDate'" nz-form-item-required>截止日期</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('expireDate')">
            <nz-datepicker [nzPlaceHolder]="'截止日期'" formControlName="expireDate" [nzDisabledDate]="_disabledEndDate">
            </nz-datepicker>
            <div nz-form-explain
                 *ngIf="validateForm.controls['expireDate'].dirty && validateForm.controls['expireDate'].errors">
                <span>公告截止日期不能为空</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'content'" nz-form-item-required>公告内容</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('content')">
            <nz-input [nzSize]="'large'" formControlName="content" [nzId]="'content'" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="''"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['content'].dirty && validateForm.controls['content'].errors">
                <span>请输入1-900个字符</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading" >提交</button>
            <button nz-button type="button" [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
