<div class="card">
    <div class="card-body">
        <!-- ATM -->
        <div style="text-align: center;">
            <div>
                <h5>ATM自助设备</h5>
                <div style="margin-left: 70%; margin-top: -10px;">
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">正常</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">警告</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">故障</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">未知</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin: 10px;">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">A10001</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">A10002</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">A10003</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">A10004</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">A10005</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">A10006</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 现钞机 -->
        <div style="text-align: center;">
            <div style="margin-bottom: 10px; margin-left: 5%;">
                <hr width="90%">
            </div>
            <div>
                <h5>现钞机</h5>
                <div style="margin-left: 70%; margin-top: -10px;">
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">正常</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">警告</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">故障</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">未知</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin: 10px;">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">B10001</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">B10002</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">运行</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">模块</p>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">钞箱</p>
                                </div>
                            </div>
                            <div>
                                <div
                                    style="float: left; margin-left:10px; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:5px; margin-top: -5px;">
                                    <p class="card-text">网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 柜面 -->
        <div style="text-align: center;">
            <div style="margin-bottom: 10px; margin-left: 5%;">
                <hr width="90%">
            </div>
            <div>
                <h5>柜面</h5>
                <div style="margin-left: 70%; margin-top: -15px;">
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">空闲</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">一般</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">繁忙</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">未服务</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin: 10px;">
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">1号柜面</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">服务</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">2号柜面</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">服务</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">3号柜面</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">服务</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">4号柜面</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: gray;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">服务</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 预约 -->
        <div style="text-align: center;">
            <div style="margin-bottom: 10px; margin-left: 5%;">
                <hr width="90%">
            </div>
            <div>
                <h5>预约: 15 人</h5>
                <div style="margin-left: 70%; margin-top: -15px;">
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">&lt;10分钟</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">&gt;10分钟</p>
                    </div>
                    <div
                        style="margin-left: 10px; float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                    <div style="float: left; margin-left:10px; margin-top: -5px;">
                        <p class="card-text">&gt;30分钟</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin: 10px;">
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">A100</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">A101</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">A105</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: green;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">A110</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">B086</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">B087</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">B090</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C152</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C153</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C154</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C155</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C156</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: yellow;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C157</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C158</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="max-width: 180px;">
                    <div class="card-body">
                        <h6 class="card-title">C159</h6>
                        <div style="margin-top: 10px;">
                            <div>
                                <div
                                    style="float: left; border-radius: 50%; width: 10px; height: 10px; background-color: red;"></div>
                                <div style="float: left; margin-left:10px; margin-top: -5px;">
                                    <p class="card-text">等待时间</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
