.editBtn {
    position: absolute;
    top: 70px;
    left: 65%;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.toggleBtn {
    position: absolute;
    top: 65px;
    left: 20px;
}
