<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'elockId'" nz-form-item-required>锁具编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('elockId')">
            <nz-input [nzSize]="'large'" formControlName="elockId" [nzId]="'elockId'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['elockId'].dirty && validateForm.controls['elockId'].errors">
                <span>编号不能为空</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row style="margin-top:20px;">
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'devNo'" nz-form-item-required>设备号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('devNo')">
            <nz-input [nzSize]="'large'" formControlName="devNo" [nzId]="'devNo'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['devNo'].dirty && validateForm.controls['devNo'].errors">
                <span>设备号不能为空</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'elockVendor'" nz-form-item-required>锁具品牌</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
            <nz-select [nzSize]="'large'" formControlName="elockVendor" [nzPlaceHolder]="'--请选择锁具品牌--'">
                <nz-option [nzLabel]="'汇金'" [nzValue]="'汇金'"></nz-option>
            </nz-select>
            <div nz-form-explain
                 *ngIf="validateForm.controls['elockVendor'].dirty && validateForm.controls['elockVendor'].errors">
                <span>请选择锁具品牌</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'elockType'" nz-form-item-required>锁具型号</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
            <nz-select [nzSize]="'large'" formControlName="elockType" [nzPlaceHolder]="'--请选择锁具型号--'">
                <nz-option [nzLabel]="'10001'" [nzValue]="'10001'"></nz-option>
            </nz-select>
            <div nz-form-explain
                 *ngIf="validateForm.controls['elockType'].dirty && validateForm.controls['elockType'].errors">
                <span>请选择锁具型号</span>
                {{ validateForm.controls['elockType'].errors['explain'] }}
            </div>
        </div>
    </div>

    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading" >提交</button>
            <button nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
