<form nz-form [formGroup]="validateForm" >
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'no'" nz-form-item-required>维护商编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" >
            <nz-input [nzSize]="'large'" formControlName="no" [nzId]="'no'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'name'" nz-form-item-required>维护商名称</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" >
            <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'" [nzDisabled]="true" ></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'linkMan'">联系人</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="linkMan" [nzId]="'linkMan'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'address'">地址</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="address" [nzId]="'address'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'phone'">固定电话</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="phone" [nzId]="'phone'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'mobile'">手机号码</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="mobile" [nzId]="'mobile'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'fax'">传真</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="fax" [nzId]="'fax'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'email'">电子邮箱</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row hidden="true">
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'infoFilePath'">文件路径</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="infoFilePath" [nzId]="'infoFilePath'" [nzDisabled]="true"></nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'infoFileName'">文件</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="infoFileName" [nzId]="'infoFileName'" [nzDisabled]="true"></nz-input>
        </div>
    </div>

    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button type="button" nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
