<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row *ngIf="false">
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'no'" nz-form-item-required>维护商编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('no')">
            <nz-input [nzSize]="'large'" formControlName="no" [nzId]="'no'" [nzDisabled]="true"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['no'].dirty && validateForm.controls['no'].errors">
                <span>编号无效,请输入2-20位有效值</span>
            </div>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'name'" nz-form-item-required>维护商名称</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('name')">
            <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'" ></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['name'].dirty && validateForm.controls['name'].errors">
                <span>维护商名称不能为空</span>
            </div>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'linkMan'">联系人</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="linkMan" [nzId]="'linkMan'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['linkMan'].dirty && validateForm.controls['linkMan'].errors">
                <span>只能以汉字、数字或者字母开头，最大长度为10个字符不低于2个字符</span>
            </div>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'address'">地址</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="address" [nzId]="'address'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['address'].dirty && validateForm.controls['address'].errors">
                <span>只能以汉字、数字或者字母开头，最大长度为80个字符</span>
            </div>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'phone'">固定电话</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="phone" [nzId]="'phone'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['phone'].dirty && validateForm.controls['phone'].errors">
                {{ validateForm.controls['phone'].errors['explain'] }}
            </div>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'mobile'">手机号码</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="mobile" [nzId]="'mobile'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['mobile'].dirty && validateForm.controls['mobile'].errors">
                {{ validateForm.controls['mobile'].errors['explain'] }}
                <span>请输入正确的11位手机号码</span>
            </div>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'fax'">传真</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="fax" [nzId]="'fax'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['fax'].dirty && validateForm.controls['fax'].errors">
                {{ validateForm.controls['fax'].errors['explain'] }}
            </div>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'email'">电子邮箱</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['email'].dirty && validateForm.controls['email'].errors">
                {{ validateForm.controls['email'].errors['explain'] }}
            </div>
        </div>
        </div>
    </div>
    <div nz-form-item nz-row >
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'infoFilePath'">文件路径</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-input [nzSize]="'large'" formControlName="infoFilePath" [nzId]="'infoFilePath'"></nz-input>
        </div>
    </div>
        <div nz-col [nzSm]="12">
        <div nz-form-label nz-col [nzSm]="8" [nzXs]="24">
            <label [attr.for]="'infoFileName'">文件</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-upload
                (nzChange)="changeFile($event)"
                nzMultiple
                [nzLimit]="1"
                [nzFileList]="fileList"
                [nzRemove]="removeFile"
                nzAction="/system/devServiceManager/uploadFile">
                <button nz-button [disabled]="fileList.length>0" (click)="uploadFile($event)">
                    <i class="anticon anticon-upload"></i><span>更换文件</span>
                </button>
            </nz-upload>
        </div>
        </div>
    </div>

    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="24" >
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading" >提交</button>
            <button type="button" nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
