<form nz-form #form="ngForm">
    <div style="color: #1ba1e2;">
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'devNo'">设备号</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['no']" name="no" [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'ip'">设备ip地址</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['ip']" name="ip" [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'devCatalog'">设备类型</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['devCatalog']" name="devCatalog"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'devVendor'">设备品牌</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['devVendor']" name="devVendor"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'orgName'">所属机构</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['orgName']" name="orgName"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSpan]="6">
                    <label [attr.for]="'devType'">设备型号</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['devType']" name="devType"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
                <label [attr.for]="'address'">设备地址</label>
            </div>
            <div nz-form-control nz-col [nzSm]="17" [nzXs]="24">
                <nz-input [nzSize]="'large'" [(ngModel)]="formModel['address']" name="address"
                          [nzDisabled]="true"></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'awayFlag'">离行在行标志</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['awayFlag']" name="awayFlag"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'workType'">经营方式</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['workType']" name="workType"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'devService'">设备维护商</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['devService']" name="devService"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'atmpArea'">银联标准地区</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['atmpArea']" name="atmpArea" [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'virtualTellerNo'">虚拟柜员号</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['virtualTellerNo']" name="virtualTellerNo"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'setupType'">安装方式</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['setupType']" name="setupType"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'selfBank'">是否自助银行</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['selfBank']" name="selfBank"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'investment'">投入主体</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['investment']" name="investment"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'quarterLeaseAmount'">每季度租赁费</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['quarterLeaseAmount']" name="quarterLeaseAmount"
                              [nzDisabled]="true" ></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'accountOrgNo'" >核心账务机构号</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['accountOrgNo']" name="accountOrgNo"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'cashboxLimit'">钱箱报警金额</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['cashboxLimit']" name="cashboxLimit"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'netType'">有线无线标志</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['netType']" name="netType"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'commPacket'">通讯每包传输大小</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['commPacket']" name="commPacket"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'serial'">设备序列号</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['serial']" name="serial"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'openTime'" >每日开机时间</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [(ngModel)]="formModel['openTime']" [nzSize]="'large'" name="openTime"
                              [nzDisabled]="true">
                    </nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'closeTime'" >每日关机时间</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [(ngModel)]="formModel['closeTime']" name="closeTime" [nzDisabled]="true"
                              [nzSize]="'large'">
                    </nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'startDate'">设备启用日期</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['startDate']" name="startDate"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'stopDate'">设备停用日期</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['stopDate']" name="stopDate"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12" [nzPush]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'expireDate'">保修到期日期</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['expireDate']" name="expireDate"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="12" [nzPull]="1">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'patrolPeriod'">设备巡检日期</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [(ngModel)]="formModel['patrolPeriod']" name="patrolPeriod"
                              [nzDisabled]="true"></nz-input>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row style="text-align:center;">
            <div nz-form-control nz-col [nzSpan]="24">
                <button nz-button type="button" [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading"
                        (click)="cancel()">返回
                </button>
            </div>
        </div>
    </div>
</form>

