<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'no'" nz-form-item-required>型号编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('no')">
            <nz-input [nzSize]="'large'" formControlName="no" [nzId]="'no'" (ngModelChange)="updateConfirmValidator()"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['no'].dirty && validateForm.controls['no'].errors">
                <span>编号不能为空，输入长度限定为1-5个字符</span>
            </div>
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'name'" nz-form-item-required>设备型号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('name')">
            <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'" (ngModelChange)="updateConfirmValidator()"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['name'].dirty && validateForm.controls['name'].errors">
                <span>设备型号不能为空，开头必须是汉字、字母或者数字</span>
            </div>
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'devVendor'" nz-form-item-required>设备品牌</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-select [nzSize]="'large'" formControlName="devVendor" [nzPlaceHolder]="'--请选择设备品牌--'">
                <nz-option *ngFor="let o of devVendorList" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
            </nz-select>
            <div nz-form-explain
                 *ngIf="validateForm.controls['devVendor'].dirty && validateForm.controls['devVendor'].errors">
                {{ validateForm.controls['devVendor'].errors['explain'] }}
            </div>
        </div>
    </div>

    <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label [attr.for]="'devCatalog'" nz-form-item-required>设备类型</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                <nz-select [nzSize]="'large'" formControlName="devCatalog" [nzPlaceHolder]="'--请选择设备类型--'">
                    <nz-option *ngFor="let o of devCatalogList" [nzLabel]="o.name" [nzValue]="o.no"></nz-option>
                </nz-select>
                <div nz-form-explain
                     *ngIf="validateForm.controls['devCatalog'].dirty && validateForm.controls['devCatalog'].errors">
                    {{ validateForm.controls['devCatalog'].errors['explain'] }}
                </div>
            </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'cashType'" nz-form-item-required>现金类型</label>
        </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-select [nzSize]="'large'" formControlName="cashType" nzAllowClear [nzPlaceHolder]="'选择标志'">
                <nz-option [nzLabel]="'现金'" [nzValue]="'1'"></nz-option>
                <nz-option [nzLabel]="'非现金'" [nzValue]="'2'"></nz-option>
            </nz-select>
           </div>
    </div>

    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading" >提交</button>
            <button type="button" nz-button [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
