
/* rem 布局  baxian */
@baseMargin : .5rem;
.sum-container {
    background: url('../../../../assets/img/background.png') no-repeat;
    background-size: 100% 100%;
    width: 96rem;
    min-height: 100vh;
}

.page-top-title {
    background: url('../../../../assets/img/base_title_bg.png') no-repeat;
    background-size: 100% 100%;
    height: 3.3rem;
    text-align: center;
    line-height: 3.3rem;
    color: white;
    position: relative;
    margin-bottom: @baseMargin;
}
.page-top-title .timer,.page-top-title .close {
    position: absolute;
}
.page-top-title .timer {
    font-size: 1rem;
    left: 2rem;
    top: .2rem;
}
.page-top-title .close {
    font-size: 2rem;
    color: #fff;
    right: 2rem;
    top: 0.8rem;
}
.content-map {

    display: flex;
    justify-content: space-around;
}
.page-top-title .word-title {
    font-size: 1.45rem;
}
.page-top-title .logo {
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    margin-right: 1rem;
}
.chart-item {
    background: url("../../../../assets/img/background2.png") no-repeat;
    background-size: 100% 100%;
}
.chart-item .chart1 {
    width: 100%;
    height: 26.5rem;
}
.chart-item .chart-title {
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.04rem;
    color: #fff;
}
.chart-item .chart-title > img {
    width: 1.05rem;
    height: 1.05rem;
    margin-right: 0.25rem;
}
.charts-top {
    display: flex;
    justify-content: space-around;
}
.width1 {
    width: 20%;
}
.width2 {
    width: 34%;
}
.width3{
    width: 23%;
}
.width4 {
    width: 32%;
}
.chart3 {
    width: 100%;
    height: 21rem;
}
.table {
    border: 0.05rem solid #1B6EAE;
    width: 90%;
    margin: 0.5rem auto;
    height: 17.5rem;
}
.self-td {
    text-align: center;
}
.self-td img {
    width: 1.4rem;
    height: 1.4rem;
}
.self-th {
    background: #3076AE;
    height: 2.1rem;
    font-size: 0.95rem;
}
.self-tr {
    height: 1.5rem;
    font-size: 0.75rem;
}
.self-th,.self-tr {
    display: flex;
    text-align: center;
    color: #fff;
    align-items: center;
}
.size1 {
    width: 20%;
}
.size2 {
    width: 40%;
}
.chart4 {
    width: 100%;
    height: 21rem;
}
.charts-bottom {
    margin-top:@baseMargin;
    display: flex;
    justify-content: space-around;
}
.charts-bottom .b-item {
    width: 33%;
}
