<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSize]="'large'">
    <nz-tab>
        <ng-template #nzTabHeading>
            <span style="font-size: large;">广告</span>
        </ng-template>
        <form nz-form [formGroup]="validateForm" class="search-form" (ngSubmit)="refreshData(true)">
            <div nz-row style="margin-left:20px; margin-right:20px;">
                <div nz-col [nzSpan]="6">
                    <div nz-row>
                        <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                            <label [attr.for]="'adsName'">广告名称</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-input formControlName="adsName"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="6">
                    <div nz-row>
                        <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                            <label [attr.for]="'adsType'">广告类型</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-select [nzSize]="'large'" formControlName="adsType" name="adsType"
                                       [nzPlaceHolder]="'--请选择广告类型--'">
                                <nz-option *ngFor="let r of adsTypeArr" [nzLabel]="r.name" [nzValue]="r.no"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12">
                    <button nz-button [nzSize]="'large'" [nzType]="'primary'">
                        <i class="anticon anticon-search"></i><span>查询</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="search-result-list" style="padding: 20px;">
            <nz-table #nzTable
                      [nzShowSizeChanger]="true"
                      [nzSize]="'small'"
                      [nzLoading]="loading"
                      [nzAjaxData]="dataSet"
                      [(nzPageIndex)]="page.curPage"
                      [(nzPageSize)]="page.pageSize"
                      [nzTotal]="page.totalRow"
                      [nzPageSizeSelectorValues]="[20,50,100]"
                      [nzShowQuickJumper]="true"
                      nzShowTotal
                      (nzPageSizeChange)="refreshData(true)"
                      (nzPageIndexChange)="refreshData()">
                <thead nz-thead>
                <tr>
                    <th nz-th><span>广告名称</span></th>
                    <th nz-th><span>广告位名称</span></th>
                    <th nz-th><span>资源名称</span></th>
                    <th nz-th><span>播放序号</span></th>
                    <th nz-th><span>有效期</span></th>
                    <th nz-th><span>适用机构</span></th>
                    <th nz-th><span>适用设备</span></th>
                    <th nz-th><span>投放状态</span></th>
                    <th nz-th><span>操作</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let item of nzTable.data">
                    <td nz-td>{{item.name}}</td>
                    <td nz-td>{{item.spaceName}}</td>
                    <td nz-td><a (click)="previewRes(item)" style="color: #1ba1e2;">{{item.resourceName}}</a></td>
                    <td nz-td>{{item.playOrder}}</td>
                    <td nz-td>{{item.playStartTime}}～{{item.playEndTime}}</td>
                    <td nz-td>{{item.limitOrgName}}</td>
                    <td nz-td>{{item.limitCatalogName}}</td>
                    <td nz-td>
                        <a *ngIf="item.remoteRange == null || item.remoteRange == ''" >未投放</a>
                        <a *ngIf="item.remoteRange == '1'">部分投放</a>
                        <a *ngIf="item.remoteRange == '2'">正式投放</a>
                        <a *ngIf="item.remoteRange == '3'">已取消投放</a>
                    </td>
                    <td nz-td style="text-align: center;">
                        <a (click)="showDetail(item)"  style="color: #1ba1e2;">下发结果</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-tab>
    <nz-tab>
        <ng-template  #nzTabHeading>
            <span style="font-size: large;">设备</span>
        </ng-template>
        <advResultDev></advResultDev>
    </nz-tab>
</nz-tabset>
<div *ngIf="previewVisible">
    <nz-modal [nzVisible]="true" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
        <ng-template #modalContent>
            <img *ngIf="selectedRes.resourceType == '1'" [src]="selectedRes.url" [ngStyle]="{ 'width': '100%' }" />
            <video *ngIf="selectedRes.resourceType == '2'" id="video1" [ngStyle]="{ 'width': '100%' }" [controls]="true">
                <source [src]="selectedRes.url" type="video/mp4">
            </video>
            <p *ngIf="this.selectedRes.resourceType == '3'">{{selectedRes.text}}</p>
        </ng-template>
    </nz-modal>
</div>
