<form nz-form #form="ngForm"  [formGroup]="validateForm" class="search-form">
    <div nz-row style="margin-left:20px; margin-right:20px;">
        <div nz-col [nzSpan]="5">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'devNo'">设备号</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <nz-input [nzSize]="'large'" formControlName="devNo" name="devNo" [nzId]="'devNo'"></nz-input>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="7">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'org'">所属机构</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <org-tree formControlName="org" [zjId]="'org'"></org-tree>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'devCatalog'">设备类型</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <nz-select [nzSize]="'large'" formControlName="devCatalog" name="devCatalog" nzAllowClear
                               [nzPlaceHolder]="'--请选择设备类型--'">
                        <nz-option *ngFor="let c of devCatalogList" [nzLabel]="c.name" [nzValue]="c.no"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div nz-row>
                <div nz-form-label nz-col [nzSpan]="8" style="width: auto;">
                    <label [attr.for]="'devVendor'">设备品牌</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="16">
                    <nz-select [nzSize]="'large'" formControlName="devVendor" name="devVendor" nzAllowClear
                               [nzPlaceHolder]="'--请选择设备品牌--'">
                        <nz-option *ngFor="let c of devVendorList" [hidden]="!c" [nzLabel]="c?.name"
                                   [nzValue]="c?.no"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align:center; margin-top: 10px;">
            <button nz-button [nzType]="'primary'" (click)="search()" [nzSize]="'large'"><i class="anticon anticon-search"></i><span>查询</span></button>
            <button nz-button (click)="reset()" [nzSize]="'large'"><i class="anticon anticon-sync"></i><span>重置</span></button>
        </div>
    </div>
</form>
<div class="search-result-list" style="padding: 20px;">
    <nz-table #nzTable
              [nzShowSizeChanger]="true"
              [nzSize]="'small'"
              [nzLoading]="loading"
              [nzShowQuickJumper] = "true"
              [nzAjaxData]="dataSet"
              [(nzPageIndex)]="page.curPage"
              [(nzPageSize)]="page.pageSize"
              [nzTotal]="page.totalRow"
              [nzPageSizeSelectorValues]="[20,50,100,200]"
              nzShowTotal
              (nzPageSizeChange)="refreshData(true)"
              (nzPageIndexChange)="refreshData()">
        <thead nz-thead>
        <tr>
            <th nz-th><span>序号</span></th>
            <th nz-th><span>设备号</span></th>
            <th nz-th><span>ip地址</span></th>
            <th nz-th><span>机构名称</span></th>
            <th nz-th><span>设备类型</span></th>
            <th nz-th><span>设备品牌</span></th>
            <th nz-th><span>设备型号</span></th>
            <th nz-th><span>地址</span></th>
            <th nz-th><span>是否在行</span></th>
            <th nz-th><span>广告详情</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index;">
            <td nz-td>{{i+1}}</td>
            <td nz-td>
                <a (click)="showDevDetail(item)" style="color: forestgreen;">{{item.no}}</a>
            </td>
            <td nz-td>{{item.ip}}</td>
            <td nz-td>{{item.orgName}}</td>
            <td nz-td>{{item.catalogName}}</td>
            <td nz-td>{{item.vendorName}}</td>
            <td nz-td>{{item.typeName}}</td>
            <td nz-td>{{item.address}}</td>
            <td nz-td>{{item.awayFlag}}</td>
            <td nz-td style="text-align: center;">
                <a (click)="showDetail(item)" style="color: #1ba1e2;">广告详情</a>
                <span nz-table-divider></span>
                <a (click)="syncAds(item.no)" style="color: #1ba1e2;">同步</a>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
