<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'no'" nz-form-item-required>类型编号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('no')">
            <nz-input [nzSize]="'large'" formControlName="no" [nzId]="'no'" (ngModelChange)="updateConfirmValidator()"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['no'].dirty && validateForm.controls['no'].errors">
                <span>编号不能为空，且不能超过5字符</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label [attr.for]="'enname'" nz-form-item-required>类型名称</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('enname')">
            <nz-input [nzSize]="'large'" formControlName="enname" [nzId]="'enname'" (ngModelChange)="updateConfirmValidator()"></nz-input>
            <div nz-form-explain
                 *ngIf="validateForm.controls['enname'].dirty && validateForm.controls['enname'].errors">
                <span>名称不能为空，输入信息长度不能超过20字符</span>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row style="text-align:center;">
        <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [nzLoading]="loading" >提交</button>
            <button nz-button type="button" [nzSize]="'large'" [nzType]="'default'" [nzLoading]="loading" (click)="cancel()">取消
            </button>
        </div>
    </div>
</form>
