<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjft.zhyg.system.dao.DevStatusExpandDao">
    <insert id="add" parameterType="String">
        insert into dev_status_table_expand(dev_no) values(#{devNo})
    </insert>
    <delete id="del" parameterType="String">
        delete from dev_status_table_expand where dev_no=#{devNo}
    </delete>
    <select id="qryByDevNo" parameterType="String" resultType="DevStatus">
        select * from dev_status_table_expand where dev_no=#{devNo}
    </select>
</mapper>