<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjft.zhyg.system.dao.NotifyModelDao">
    <insert id="addNotifyModel" parameterType="java.util.HashMap">
        insert into notify_model values(#{modelId},#{notifyType},#{notifyWay},#{modelBy},#{infoSet})
    </insert>
    <select id="qryBuNotifyType" parameterType="Integer" resultType="NotifyModel">
        select * from notify_model where  notify_type = #{notifyType}
    </select>
    <update id="modNotifyType" parameterType="NotifyModel">
        update notify_model set model_by = #{modelBy},info_set=#{infoSet} where notify_type=#{notifyType}
    </update>
</mapper>